body {
    color: white;
    font-family: 'Segoe UI Light', Geneva, Verdana, sans-serif;
    background-color: black;
}

.underground_map {
    position: relative;
    top: 0;
    left: 0;
}

.underground_map map {
    position: relative;
    z-index: 0;
    height: 600px;
    width: 800px;
}

.underground_map .clickbox {
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.underground_map .one {
    top: 250px;
    left: 350px;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.underground_map .two {
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.underground_map .three {
    top: 20px;
    left: 500px;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.underground_map .two {
    top: 0%;
    left: 0;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.underground_map .three {
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.welcomeMessage {
    display: none;
    overflow: auto;
    position: fixed;
    top: -10vh;
    height: 100%;
    width: 100%;
    z-index: 3;
    padding-top: 15vh;
    padding-left: 5vw;
    color: rgba(255, 255, 0, 0);
    line-height: 200%;
}

.welcomeMessage pre {
    padding-right: 10%;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: x-large;
    padding-bottom: 2vh;
}