body {
    color: white;
    font-family: 'Segoe UI Light', Geneva, Verdana, sans-serif;
    background-color: black;
}

.background {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: fixed;
    left: 0;
    overflow: auto;
}

a:visited {
    color: #FFD800;
}

.welcomeMessage {
    display: none;
    overflow: auto;
    position: fixed;
    top: -15vh;
    height: 99%;
    width: 99%;
    z-index: 3;
    padding-top: 15vh;
    padding-left: 5vw;
    color: rgba(255, 255, 0, 0);
    line-height: 200%;
}

.welcomeMessage pre {
    padding-right: 15%;
    padding-left: 13%;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: large;
    padding-bottom: 1.4vh;
}

.proceed {
    font-family: Courier New, Courier, monospace;
    cursor: pointer;
    font-size: large;
    border: solid;
    border-color: yellow;
    border-width: 1px;
    font-weight: bold;
    width: 130px;
    height: 30px;
    text-align: center;
    margin-bottom: 85px;
    margin-left: 13%;
}

.underground_map {
    display: block;
    position: relative;
    z-index: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 600px) {
    .underground_map {
        top: 10%;
        left: 20%;
        transform: translate(0);
    }
}

.map_img {
    position: absolute;
    width: 50rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.clickbox {
    position: absolute;
    opacity: 0;
    height: 6rem;
    width: 6rem;
    z-index: 1;
}

.one {
    top: -3rem;
    left: 18rem;
}

.two {
    top: -10rem;
    left: 32.5rem;
}

.three {
    top: 10rem;
    left: 38rem;
}

.arrow {
    position: absolute;
    opacity: 0;
    height: 6rem;
    width: 6rem;
    z-index: 1;
}

.i {
    top: 0.25rem;
    left: 15.5rem;
}

.ii {
    top: -13.75rem;
    left: 36.75rem;
}

.iii {
    top: 5.5rem;
    left: 41.5rem;
}
