body {
    color: white;
    font-family: 'Segoe UI Light', Geneva, Verdana, sans-serif;
    background-color: black;
}

.underground_map {
    position: relative;
    top: 0;
    left: 0;
}

.underground_map map {
    position: relative;
    z-index: 0;
    height: 600px;
    width: 800px;
}

.underground_map .clickbox {
    position: fixed;
    opacity: 1;
    z-index: 2;
}

.underground_map .one {
    top: 100px;
    left: 100px;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.underground_map .two {
    top: 0%;
    left: 0;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.underground_map .three {
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}