body {
    color: white;
    font-family: 'Segoe UI Light', Geneva, Verdana, sans-serif;
    background-color: black;
    overflow: auto;
}

.background {
    width: 99%;
    height: 99%;
    z-index: 0;
}

a:visited {
    color: #FFD800;
}

.welcomeMessage {
    display: none;
    overflow: auto;
    position: fixed;
    top: -15vh;
    height: 99%;
    width: 99%;
    z-index: 3;
    padding-top: 15vh;
    padding-left: 5vw;
    color: rgba(255, 255, 0, 0);
    line-height: 200%;
}

.welcomeMessage pre {
    padding-right: 10%;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: large;
    padding-bottom: 1.4vh;
}

.proceed {
    font-family: Courier New, Courier, monospace;
    cursor: pointer;
    font-size: large;
    border: solid;
    border-color: yellow;
    border-width: 1px;
    font-weight: bold;
    width: 130px;
    height: 30px;
    text-align: center;
    margin-bottom: 85px;
    margin-left: 80px;
}

.underground_map {
    position: relative;
    top: 5vh;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    right: 75%;
}

.underground_map img {
    position: absolute;
    height: 563px;
    overflow-y: scroll;
}

.underground_map .clickbox {
    position: absolute;
    opacity: 0;
    height: 100px;
    width: 100px;
    z-index: 1;
}

.underground_map .one {
    top: 225px;
    left: 270px;
}

.underground_map .two {
    top: 120px;
    left: 520px;
}

.underground_map .three {
    top: 210px;
    left: 560px;
}

.underground_map .four {
    top: 440px;
    left: 630px;
}

.underground_map {
    position: absolute;
    opacity: 1;
    height: 80px;
    width: 80px;
    z-index: 1;
}

.underground_map .arrow{
    position: absolute;
    opacity: 0;
    height: 80px;
    width: 80px;
    z-index: 1;
}

.underground_map .i {
    top: 290px;
    left: 260px;
}

.underground_map .ii {
    top: 80px;
    left: 490px;
}

.underground_map .iii {
    top: 165px;
    left: 635px;
}

.underground_map .iv {
    top: 375px;
    left: 670px;
}