.popUpBackground {
    display: inline;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    overflow: auto;
    background-color: rgba(0, 0, 0, 1);
}

.popUpBox {
    background-color: black;
    display: block;
    position: fixed;
    width: 30%;
    height: 5%;
    z-index: 2;
    top: -800px;
    border: 2px solid white;
    border-radius: 5px;
}

.close {
    top: 0;
    font-size: large;
    cursor: default;
    color: red;
    float: right;
    display: none;
}

.popUpBox .popUpHeader {
    text-decoration: underline;
    padding-left: 7%;
}

.popUpBox .popUpBody {
    padding: 7%;
}

.popUpBox input[type=textField] {
    padding-left: 7%;
    background-color: black;
    color: white;
    border: none;
}

.openBox {
    transition-duration: 1s;
    transition-timing-function: ease;
    padding: 20px;
    top: 5%;
    left: 5%;
    width: 80%;
    height: 80%;
    z-index: 2;
}