.popUpBox {
    background-color: black;
    display: block;
    position: fixed;
    width: 30%;
    height: 5%;
    z-index: 2;
    top: -800px;
    border: 2px solid white;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 120%;
}

.close {
    top: 0;
    font-size: xx-large;
    cursor: default;
    color: red;
    float: right;
    display: none;
}

.popUpBox .popUpHeader {
    font-weight: bold;
    font-size: x-large;
    margin-top: 2%;
    margin-left: 7%;
    opacity: 0;
    transition-duration: 1s;
}

.popUpBox .popUpBody {
    padding-bottom: 3%;
    padding-top: 4%;
    margin-left: 7%;
    margin-right: 12vw;
    line-height: 140%;
    opacity: 0;
    transition-duration: 1s;
    text-align: justify;
}

.popUpBox input[type=textField] {
    margin-left: 7%;
    padding: 1%;
    background-color: black;
    border-color: darkblue !important;
    border-width: 1px !important;
    color: white;
    margin-bottom: 10vh;
    margin-left: 7%;
    opacity: 0;
    transition-duration: 1s;
}

.popUpBox input[type=textField]:focus {
    border: none;
}

.openBox {
    transition-duration: 1s;
    transition-timing-function: ease;
    padding: 20px;
    top: 5%;
    left: 5%;
    width: 80%;
    height: 80%;
    z-index: 2;
}

.solved_img {
    z-index: 3;
    position: absolute;
    width: 50%;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition-duration: 1s;
}