.popUpBox {
    background-color: black;
    display: block;
    position: fixed;
    width: 30%;
    height: 5%;
    z-index: 2;
    top: -800px;
    border: 2px solid white;
    border-radius: 5px;
}

.close {
    top: 0;
    font-size: xx-large;
    cursor: default;
    color: red;
    float: right;
    display: none;
}

.popUpBox .popUpHeader {
    font-weight: bold;
    font-size: larger;
    padding-left: 7%;
}

.popUpBox .popUpBody {
    padding: 7%;
    line-height: 120%;
    overflow: auto;
}

.popUpBox input[type=textField] {
    padding-left: 7%;
    background-color: black;
    color: white;
    border: none;
}

.openBox {
    transition-duration: 1s;
    transition-timing-function: ease;
    padding: 20px;
    top: 5%;
    left: 5%;
    width: 80%;
    height: 80%;
    z-index: 2;
}