@charset "UTF-8";
body {
    color: white;
    font-family: 'Segoe UI Light', Geneva, Verdana, sans-serif;
    background-color: black;
}

.underground_map {
    position: relative;
    top: 0;
    left: 0;
}

    .underground_map map {
        position: relative;
        display: block;
        z-index: 0;
        height: 600px;
        width: 800px;
    }

    .underground_map .clickbox {
        position: relative;
        opacity: 0.5;
        z-index: 1;
    }

    .underground_map .one {
        top: 100px;
        left: 100px;
        height: 100px;
        width: 200px;
        border-radius: 8px;
    }

    .underground_map .two {
        top: 0%;
        left: 0;
        height: 100px;
        width: 100px;
        border-radius: 8px;
    }

    .underground_map .three {
        top: 0;
        right: 0;
        height: 100px;
        width: 100px;
        border-radius: 8px;
    }
.popUpBackground {
    display: inline;
    position: fixed;
    z-index: 1;
    color: white;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 1);
}

.popUpBox {
    background-color: darkblue;
    display: inline;
    position: fixed;
    width: 5%;
    height: 5%;
    z-index: 2;
    top: -200px;
}

.openBox {
    transition-duration: 1s;
    transition-delay: 1s;
    transition-timing-function: ease;
    padding: 20px;
    top: 5%;
    left: 5%;
    border: 2px solid white;
    border-radius: 5px;
    width: 80%;
    height: 80%;
}